$fontColor: #0091aa;
$colorHeading: #be4a14;
/*#game  // div with id: content
{     
}
*/
h2
{
    color: $colorHeading;
}

h1{
    @extend h2;
}

#connectPiBtn {
    background: red
}

#disconnectPiBtn {
    background: green
}